@import 'tailwindcss';

/*Tailwind global themes*/
@theme {
    --color-background: #fafafa;
    --color-surface: #e5e3e0;
    --color-card: #f0eeec;
    --color-border: #d8d5d1;
    --color-muted: #7a7770;
    --color-accent: #c0604;

    --font-sans: var(--font-mono);
    --font-mono: var(--font-mono);
    --font-serif: 'Roboto Mono', monospace;
}